.login-container {
  /*composes: auth-container;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--accent-color)
  );
}

.login-form {
  /*composes: auth-card;*/
  background: var(--form-bg);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
}

.login-logo {
  width: 45%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.or-divider {
  margin: 15px 0;
  font-weight: bold;
  color: var(--accent-color);
  font-size: 16px;
}

@media (max-width: 480px) {
  .login-form {
    padding: 30px 20px;
    width: 100%;
  }
}
